<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.tukorea.common.contents.dao.ContentsMapper">
<select id = "selectContentsListTotalCount" parameterType = "java.util.HashMap" resultType = "Integer">
	SELECT
		COUNT(*) AS TOTAL_CNT
	FROM
		CONTENTS
</select>
<select id = "selectMovieList" resultType = "com.tukorea.common.contents.domain.Contents">
	SELECT
		CONTENTSID,
		TITLE,
		GENRE,
		YEAR,
		DIRECTOR,
		RUNNING,
		SUMMARY,
		HITS,
		KIND,
		POSTERIMGNAME,
		POSTERIMGSAVEPATH
	FROM
		CONTENTS
	WHERE
		KIND='MOVIE'
	ORDER BY
		CONTENTSID DESC
</select>
<select id = "selectSeriesList" resultType = "com.tukorea.common.contents.domain.Contents">
	SELECT
		CONTENTSID,
		TITLE,
		GENRE,
		YEAR,
		DIRECTOR,
		RUNNING,
		SUMMARY,
		HITS,
		KIND,
		POSTERIMGNAME,
		POSTERIMGSAVEPATH
	FROM
		CONTENTS
	WHERE
		KIND='SERIES'
	ORDER BY
		CONTENTSID DESC
</select>
<!-- 게시판 상세 조회 -->
	<select id="selectContentsInfo" parameterType="Integer" resultType="com.tukorea.common.contents.domain.Contents">
		SELECT
			CONTENTSID,
			TITLE,
			GENRE,
			YEAR,
			DIRECTOR,
			RUNNING,
			SUMMARY,
			HITS,
			KIND,
			DATE_FORMAT(REG_DT, '%Y-%m-%d %H:%i') AS REG_DT,
			POSTERIMGSAVEPATH
		FROM
			CONTENTS
		WHERE
			CONTENTSID = #{contents_id}
	</select>
	<update id="updateContentsHits" parameterType="Integer">
		UPDATE CONTENTS
		SET
			HITS = HITS + 1
		WHERE
			CONTENTSID = #{contents_id}
	</update>
	<insert id="insertContents" parameterType="java.util.HashMap">
		INSERT INTO CONTENTS (
			TITLE,
			GENRE,
			YEAR,
			DIRECTOR,
			RUNNING,
			SUMMARY,
			HITS,
			KIND,
			POSTERIMGNAME,
			POSTERIMGSAVEPATH,
			REG_DT
		) VALUES (
			#{title},
			#{genre},
			#{year},
			#{director},
			#{running},
			#{summary},
			#{hits},
			#{kind},
			#{imageName},
			#{savePath},
			NOW()
		)
		<selectKey keyProperty="contents_id" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<delete id="deleteBoard" parameterType="Integer">
		DELETE FROM CONTENTS
		WHERE
			CONTENTSID = #{contentsid}
	</delete>
	<!-- 게시물 글 소유자 확인 -->
	<select id="selectContentsPasswordForCheck" parameterType="java.util.HashMap" resultType="Integer">
		SELECT
			COUNT(*) AS TOTAL_CNT
		FROM
			CUSTOMER
		WHERE
			TYPE = 'ADMIN'
			AND PASSWORD = SHA2(#{password}, 256)
	</select>
	<update id="updateContents" parameterType="com.tukorea.common.contents.domain.Contents">
		UPDATE CONTENTS
SET
    TITLE = #{title},
    GENRE = #{genre},
    YEAR = #{year},
    DIRECTOR = #{director},
    RUNNING = #{running},
    SUMMARY = #{summary},
    KIND = #{kind},
    POSTERIMGNAME = #{posterimgname},
    POSTERIMGSAVEPATH = #{posterimgsavepath}
WHERE
    CONTENTSID = #{contentsid}

	</update>
</mapper>